html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }

h1 {
  color: #fdfffe;
  font-size: 140px;
  margin-bottom:auto;
  font-weight: light;
}

h3 {
  color: grey;
  font-size: 40px;
  margin:auto;
}

.mainContainer {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.leftCollumn {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1;
}

clock {
  flex:100%;
  background-color: #0ca7d3;
  text-align:center;
}

.printers {
  flex: 1;
  background-color: #0786a9;
}

google-calendar {
  flex:50%;
  background-color: #0786a9;
}

.appt:nth-child(odd){

}

.appt:nth-child(even){
  
}

my-printer-detail {
  flex:50%;
  background-color: #369;
}
