html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        background-color: #0786a9;
      }

h1 {
  color: #fdfffe;
  font-size: 140px;
  margin-bottom:auto;
}

h3 {
  color: #336699;
  font-size: 40px;
  margin:auto;
  font-weight: 300;
}

h4 {
  color: #fdfffe;
  padding-left:5%;
  /*margin:auto;*/
}

h5 {
  color: yellow;
  padding-left:5%;
  margin:auto;
  font-weight:300;
}

.mainContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  will-change: overflow;
}

.leftCollumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topLeft {
  background-color: #0ca7d3;
  flex:1 1 70%;
}

clock {
  background-color: #0ca7d3;
  text-align:center;
}

.bottomLeft{
  display: flex;
  flex: 1 1 50%;
  flex-direction: row;
}

google-calendar {
  overflow: auto;
  flex: 1 1 50%;
  background-color: #0786a9;
}

google-calendar::-webkit-scrollbar {
  display: none;
}

google-calendar ul {
    animation: ani ease-in-out 4s alternate infinite;
}

google-calendar li {
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

my-printer-detail {
  flex: 1 1 50%;
  background-color: #024d5f;
}

.rightCollumn {
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
  height: auto;
}

.rightCollumn::-webkit-scrollbar {
  /*display: none*/
}
.printers {
  background-color: #0786a9;
  /*animation: ani ease-in-out 4s alternate infinite;*/
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

li.printer {
  font-size: 40px
}

li:nth-child(even) {
  background-color:#0ca7d3;
}

@keyframes ani {
	0% { margin-left: 0; transform: translate3d(0%, 0, 0);}
	25% { margin-left: 0; transform: translate3d(0%, 0, 0);}
	75% { margin-top: 0; transform: translate3d(0, -100%, 0);}
	100% { margin-top: 0; transform: translate3d(0, -100%, 0);}
}
